

body {
    text-align: center;
    background-color:#F6F6D6;
    font-family: 'Indie Flower', cursive;
}

ul {
    list-style-type: none; /* Remove bullets */
}

nav * {
  display: inline;
}

nav[role="main"] {
    background-color:#EFA961;;
}
nav[role="sub"] {
    background-color:#61A7EF;
}

header{
    background-color: #EF6261;
}


footer{
  background-color: #EFA961;
  left: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
}
