<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://demo.htmx.org"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Fluffy Cat Pizza</title>
</head>
<body>
<header>
    <h1>Fluffy Cat Pizza Menu</h1>
        <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('location') }}">Location</a></li>
            <li><a href="{{ url_for('partners') }}">Partners</a></li>
        </ul>
    </nav>
            <nav>
        <ul>
            <li><a href="{{ url_for('bakery') }}">Bakery</a></li>
            <li><a href="{{ url_for('breakfast') }}">Breakfast</a></li>
            <li><a href="{{ url_for('lunch') }}">Lunch</a></li>
            <li><a href="{{ url_for('dinner') }}">Dinner</a></li>
            <li><a href="{{ url_for('dessert') }}">Dessert</a></li>
        </ul>
    </nav>
</header>
<div class="content">
    {% block content %} {% endblock %}
</div>
<footer>
    <p> &copy;Author: Seth Guimont</p>
    <p><a href="mailto:sethguimont@outlook.com">sethguimont@outlook.com</a></p>
</footer>
</body>
</html>
